h1 { 
	font-size: 50px;
	font-weight: bold;
	text-align: center;
	padding-top: 10px;
}
body {
	background: linear-gradient(mistyrose, white);
	background-repeat: no-repeat;
}
header {
	font-family: 'Raleway Dots', cursive;
	text-align: center;
	position: fixed;
	top: 0;
	width: 1000px;
	border: 3px ;
}
ul {
	padding: 10px;
	font-size: 20px;
	font-weight: bold;
}
li{
	display: inline;
	padding: 0px 60px 0px 60px;
}
@media (max-width: 600px) {
	h1 {
		font-size: 25px;
	}
	li {
		display: block;
		padding: 5px;
		font-size: 15px;
	}
}
p {
	text-align: center;
	font-family: 'Raleway Dots', cursive;
	font-size: 50px;
	line-height: 24px;
}
div {
	height: 200px;
	border-radius: 10px;
	background-size: cover;
	background-repeat: no-repeat;
}
#weddings{
	background-image: url("https://i.imgur.com/vjelQ3y.jpg");
	opacity: 1.0;
	filter: alpha(opacity=100);
}
#weddings:hover {
	opacity: 0.5;
	filter: alpha(opacity=50);
}
#birthdays{
	background-image: url("https://i.imgur.com/cQgyfoZ.jpg");
	opacity: 1.0;
	filter: alpha(opacity=100);
}
#birthdays:hover {
	opacity: 0.5;
	filter: alpha(opacity=50);
}

button {
	display: inline;
	margin-top: 1000px;
	margin-bottom: 15px;

}
#Weddings {
	margin-top: 50px;
	font-weight: bold;
}
#Birthdays {
	margin-top: 50px;
	font-weight: bold;
}