h1 { 
	font-size: 50px;
	text-align: center;
}
body {
	background: linear-gradient(mistyrose, white);
	background-repeat: no-repeat;
}
header {
	font-family: 'Raleway Dots', cursive;
	text-align: center;
}
ul {
	padding: 10px;
	font-size: 20px;
}
li{
	display: inline;
	padding: 0px 60px 0px 60px;
}
@media (max-width: 600px) {
	h1 {
		font-size: 25px;
	}
	li {
		display: block;
		padding: 5px;
		font-size: 15px;
	}
}
p {
	text-align: center;
	font-family: 'Raleway Dots', cursive;
	font-size: 20px;
	line-height: 24px;
}
div {
	height: 200px;
	border-radius: 12px;
	background-size: 50%;
}
.weddings{
	background-image: url("https://i.imgur.com/vjelQ3y.jpg");
	float: left;
}
.birthdays{
	background-image: url("https://i.imgur.com/cQgyfoZ.jpg");
	float: right;
}
